.block {
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group {}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-indent: 10px;
    text-transform: capitalize;

    color: #000000;
}

.titleList {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;

    color: #000000;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-indent: 10px;
}

.list {
    padding: 0;
    margin-left: 20px;
}

.item {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-indent: 30px;
    margin-left: -20px;
    list-style-type: none;
}

.item::after {
    position: absolute;
    top: 12px;
    left: 10px;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #000000;
    clip-path: circle(50%)
}




.image {
    margin-top: 80px;
    width: 100%;
}