.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.text {
    width: 721px;
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    color: #FFFFFF;
}

.name {
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}