.block {
    background-color: #F2F2F2;
    margin-bottom: 60px;
    padding-top: 20px;

}


.container {
    overflow: hidden;
}

.group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 38px 0 46px 0;
}

.name {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 576px) {
    
    .block {
        margin: 0;
    }

    .wrapper {
        margin: 0;
    }
    
    .group {
        margin: 38px 0 46px 0;
        justify-content: center;
        gap: 20px;
    }
}