.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.important {
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}