.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.imageBlock {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #2F6FCF;
    transition: 200ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.imageBlock:hover {
    background-color: #012D70;
    transition: 200ms ease-in;
}

.image {
    width: 70%;
    height: 70%;
}


.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
}

.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: flex;
}