.block {
    width: 100%;
    padding: 20px 0;
    background-color: white;
    padding: 80px 0;
}


.container {
    display: flex;
    flex-direction: column;
    
}


.subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
    margin-top: 96px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}