.container {
    padding-top: 80px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 80px 0;
}

.textGroup {
    width: 689px;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}



.group2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: 400;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 14px;
}