.value {
    font-size: 64px;
    line-height: 78px;
    display: flex;
    color: #FFFFFF;
}

.text {
    height: 78px;
    
    font-weight: 100;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}