.block {
    width: 300px;
}

.name {
    font-size: 28px;
    line-height: 34px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}