.block {
    position: absolute;
    z-index: 1;
    top: 63px;
    left: 0;
    width: 100%;
    height: 140px;
}

.container {
    max-width: 1511px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    padding: 10px;
}