.block {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group {
    width: 80%;

    display: flex;
    
}

.image {
    position: absolute;
    right: 0;
    bottom: 11px;
    width: 400px;
    height: 228px;
    
}