.block {
    width: 100%;
    padding: 37px 0 67px 0;
    background-color: #212121;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 246px;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;

}

.text {
    font-weight: 300;
    line-height: 29px;
    color: #FFFFFF;
}

.message {
    width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 246px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: black;
    outline: none;
}

.textarea {
    width: 100%;
    height: 113px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    resize: none;
    color: black;
    outline: none;
}

.mapBlock {
    width: 327px;
    height: 246px;
}


/* 
@media screen and (min-width: 1200px) {
    .container {
        height: 246px;
    
    }
} */

@media screen and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
    }

    .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }

    .contacts {
        height: inherit;
        gap: 24px;
    }

    .message {
        width: 100%;
        height: inherit;
        gap: 5px;
    }

    .input {
        height: 41.8px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }

    .textarea {
        height: 78.72px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }

    .mapBlock {
        width: 100%;
        
    }


    .YMaps {
        width: 100%;
        border: 2px solid green;
    
    }


}