.block {
    display: flex;
    gap: 50px;
}

.button {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: white;
    transition: ease-in 150ms;
    border: none;
    background-color: transparent;
}

.button:hover {
    color: #2F6FCF;
    transition: ease-in 150ms;
}

@media screen and (max-width: 992px) {
    .block {
        gap: 30px;
    }

    .button {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .block {
        gap: 30px;
    }

    .button {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .block {
        gap: 30px;
    }

    .button {
        display: none;
    }

}