.button {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 377px;
    height: 90px;
    background: #2F6FCF;
    border: none;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transition: ease-out 300ms;
    box-shadow: 0px 0px 0 #699AE4, 0px 0px 0 #092145;
}

.left:hover {
    box-shadow: -10px -10px 0 #699AE4, 10px 10px 0#092145;
    transition: ease-out 300ms;
}

.right:hover {
    box-shadow: 10px -10px 0 #699AE4, -10px 10px 0#092145;
    transition: ease-out 300ms;
}
