.block {}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.swiper {
    max-width: 100% !important;
    padding: 120px 90px 60px !important;

}

.swiperSlider {
    width: 500px !important;
    display: flex !important;
    justify-content: center !important; 
    padding: 10px;
}
