.block {
    margin: 50px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.swiper {
    max-width: 100% !important;
    padding: 120px 90px 60px !important;

}

.swiperSlider {
    width: 500px !important;
    display: flex !important;
    justify-content: center !important; 
    
    padding: 10px;
    box-sizing: content-box !important;
}


@media screen and (max-width: 576px) {
    .swiper {
        padding: 20px 0px 40px 0px !important;
        width: 322px !important;
    }
    .swiperSlider {
         
        max-width: 302px !important;
    }
}