.block {
    width: 100%;
    background-color: #fff;
    padding: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 94px 0 80px 0;
}

.buttonText {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.button {
    position: relative;
    width: 459px;
    height: 55px;
    background-color: transparent;
    border: none;
}


.button::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    transition: 300ms ease-out;
}


.button:hover.button::after {
    width: 100%;
    background-color: #2F6FCF;
    transition: 300ms ease-out;
}


.button::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5A5A5A;
    transition: 300ms ease-out;
}

.button:hover.button::before {
    width: 0%;
    transition: 300ms ease-out;
    background-color: white;
}
