* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

*::-webkit-scrollbar {
    width: 0;
}



html, body, #root {
    height: 100%;
}

body {
    zoom: 65%;
}



.container {
    position: relative;
    max-width: 1358px;
    height: 100%;
    margin: 0 auto;
    padding: 2px;

}



.app {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



