* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

*::-webkit-scrollbar {
    width: 0;
}


html,
body,
#root {
    height: 100%;
}





.container {
    max-width: 1375px;
    position: relative;
    height: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}



/* 
#SliderHowToHelp > .swiper-pagination-bullet {
    border: 2px solid red;
} */


.swiper-pagination-bullet {
    background-color: transparent !important;
    border: 1px solid black !important;
    width: 35px !important;
    height: 6px !important;
    border-radius: 0 !important;
    opacity: 1 !important;

}




.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

.swiper-button-prev {
    background-image: url(./source/Prev.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-prev::after {
    display: none;
}






.swiper-button-next {
    background-image: url(./source/Next.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

#panelWantHelpActive {
    pointer-events: fill;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 300ms;
}

#panelWantHelpDeactiev {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.0);
    transition: 300ms;
}

#wrapperWantHelpActive {
    top: 50%;
    transition: 300ms;
}

#wrapperWantHelpDeactive {
    top: -25%;
    transition: 300ms;
}





#panelNeedHelpActive {
    pointer-events: fill;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 300ms;
}

#panelNeedHelpDeactiev {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.0);
    transition: 300ms;
}

#wrapperNeedHelpActive {
    top: 50%;
    transition: 300ms;
}

#wrapperNeedHelpDeactive {
    top: -25%;
    transition: 300ms;
}













#panelArchiveActive {
    pointer-events: fill;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 300ms;
}

#panelArchiveDeactiev {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.0);
    transition: 300ms;
}

#wrapperArchiveActive {
    top: 50%;
    transition: 300ms;
}

#wrapperArchiveDeactive {
    top: -25%;
    transition: 300ms;
}






@media screen and (max-width: 1300px) {
    .container {
        zoom: 100%;
    }
}



@media screen and (max-width: 1250px) {
    .container {
        zoom: 70%;
    }
}



@media screen and (max-width: 940px) {
    .container {
        zoom: 50%;
    }
}



@media screen and (max-width: 800px) {
    .container {
        zoom: 40%;
    }
}


@media screen and (max-height: 1000px) {
    .container {
        zoom: 80%;
    }
}




@media screen and (max-height: 800px) {
    .container {
        zoom: 65%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        zoom: 40%;
    }
}

@media screen and (max-height: 600px) {
    .container {
        zoom: 60%;
    }
}


@media screen and (max-height: 400px) {
    .container {
        zoom: 40%;
    }
}







@media screen and (max-width: 576px) {
    .container {
        zoom: 100%;
    }
}


.app {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nonePhone {
    display: block;
}

@media screen and (max-width: 576px) {
    .nonePhone {
        display: none;
    }
}



.phoneHide {
    display: flex;
}


@media screen and (max-width: 576px) {
    .phoneHide {
        display: none;
    }
}

.titlePage {
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}