* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

*::-webkit-scrollbar {
    width: 0;
}

html {
    
}

html, body, #root {
    height: 100%;
}





.container {
    max-width: 1375px;
    position: relative;
    height: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-height: 800px) {
    .container {
        zoom: 75%;
    }
}

@media screen and (max-height: 600px) {
    .container {
        zoom: 60%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        zoom: 50%;
    }
}



@media screen and (max-width: 700px) {
    .container {
        zoom: 40%;
    }
}



@media screen and (max-width: 576px) {
    .container {
        zoom: 100%;
    }
}


.app {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nonePhone {
    display: block;
}

@media screen and (max-width: 576px){
    .nonePhone {
        display: none;
    }
}



.phoneHide {
    display: flex;
}


@media screen and (max-width: 576px) {
    .phoneHide {
        display: none;
    }
}