* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

*::-webkit-scrollbar {
    width: 0;
}



html, body, #root {
    height: 100%;
}

body {
    zoom: 65%;
}

@media (max-width: 768px) {
    body {
        zoom: 40%;
    }
}


@media (max-width: 600px) {
    body {
        zoom: 35%;
    }
}


@media (max-width: 500px) {
    body {
        zoom: 30%;
    }
}

@media (max-width: 400px) {
    body {
        zoom: 25%;
    }
}



.container {
    position: relative;
    max-width: 1358px;
    height: 100%;
    margin: 0 auto;
    padding: 2px;

}



.app {
    overflow: hidden;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



