.block {
    position: sticky;
    top: -60px;
    background-color: #fff;
    padding: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle {
    width: 515px;
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
}

.group {
    display: flex;
    gap: 100px;
    margin: 58px 0 76px 0;
}