.block {
    margin: 120px 0 140px 0;
}

.wrapper {
    margin: 100px 0 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.canvas {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.group {
    max-width: 560px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background-color: #2F6FCF;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    position: absolute;
    top: -25px;
    left: -70px;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
    color: #000000;

}




.text {
    position: relative;
    text-indent: 30px;
    margin-left: 0px;
    list-style-type: none;



    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}


.text::after {
    position: absolute;
    top: 12px;
    left: 10px;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #000000;
    clip-path: circle(50%)
}





.arrow {
    position: absolute;
    top: 50%;
    left: -50px;
    height: 60px;
}



.image {
    width: 645px;
    height: 430px;
}

@media screen and (max-width: 576px) {
    
    .block {
        margin-bottom: 28px;
    }
    .container {
        overflow: visible;
    }

    .wrapper {
        width: 100%;
        margin: 60px auto;
        position: absolute;
        position: relative;
        left: 15%;
        
    }

    .canvas {
        width: 500px;
    }

    .group {
        width: 100%;
    }

    .number {
        width: 30px;
        height: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        left: -35px;
        top: -6px;
        color: #FFFFFF;

    }

    .numberM {
        top: 4px;
    }

    .image {
        display: none;
    }

    .title {
        width: 90%;
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
        color: #000000;

    }

    .text {
        width: 90%;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #000000;
        text-indent: 20px;
        position: relative;
        left: -30px;
    }

    .text::after {
        top: 6px;
    }
}